html, body, h1, table, td, tr, img {
  margin: 0;
  padding: 0;
}

#rss_logo {
  margin: 6px; 
  float: right;
  border: none;
}

body {
  background-color: #2a2a2a;
}

#wrapper {
  width: 70%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px;
  border-left: 6px solid #658f9b;  
  border-right: 6px solid #658f9b;
  position: relative;
  top: 94px;
}

#height_buffer {
  background-color: green;
  height: 100%;
  width: 0;
  float: left;
}

#height_wrapper {
  width: 100%; 
}

h1 {
  margin: 0;
  height: 129px;
  font-size: 2.4em;

}

a, a:visited {
  color: #658f9b;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

#title a {
  text-decoration: none;
  color: #ddd;
  font-family: helvetica;
}

#title h1 span {
  font-style: italic;
  font-size: .5em;
}

#title {
  border: 1px solid #222;
  background-image: url('../images/quarry3.jpg');
  background-repeat: no-repeat;
  height: 147px;
  width: 782px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -94px;

}

#text_title {
  background-color: black;
  width: 240px;
  height: 121px;
  padding: 6px;
  padding-top: 18px;
  border: 1px solid #658f9b;
  border-right: 0;
  float: left
}

#text_title div {

}

#post_title {
  color: #658f9b;
}

#content_wrapper {
  position: relative;
  top: -80px;
  width: 100%;
}

#info_cells {
  vertical-align: top;
  font-weight: bold;
  width: 100px;
}

#info_cells ul {
  padding-left: 8px;
  list-style-type: none;
  margin-top: 6px;
  color: #658f9b;
}
