* {
  font-family: helvetica;
}

html, body, h1, table, td, tr, img {
  margin: 0;
  padding: 0;
}

#brentw_github_link {
  position: absolute;
  right: 0;
  top: 0;
}

#rss_logo {
  margin: 6px; 
  float: right;
}

img {
  border: none;
}

body {
  background-color: #2a2a2a;
}

#inside_wrapper {
  background-color: white;
  padding: 10px;
  margin-left: 6px;
  margin-right: 6px;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

#outside_wrapper {
  border: 1px solid black;
  width: 70%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #658f9b;
  position: relative;
  top: 94px;
}

#height_buffer {
  background-color: green;
  height: 100%;
  width: 0;
  float: left;
}

#height_wrapper {
  width: 100%; 
}

h1 {
  margin: 0;
  height: 129px;
  font-size: 2.4em;

}

h2.post_fragment_title {
  margin-bottom: 12px;
}

a, a:visited {
  color: #658f9b;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

#title a {
  text-decoration: none;
  color: #eee;
  font-family: helvetica;
}

#title h1 span {
  font-style: italic;
  font-size: .5em;
}

#title {
  border: 1px solid #222;
  background-image: url('../images/quarry3.jpg');
  background-repeat: no-repeat;
  height: 147px;
  width: 782px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -94px;
  z-index: 5;
}

#text_title {
  background-color: black;
  width: 240px;
  height: 121px;
  padding: 6px;
  padding-top: 18px;
  border: 1px solid #658f9b;
  border-right: 0;
  float: left
}

#text_title div {

}

#title_drop_shadow {
  opacity: 0.5;
  background-color: black;
  height: 147px;
  width: 782px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -236px;
  right: -6px;
  z-index: 0;
}

#post_title {
  color: #658f9b;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content_wrapper {
  position: relative;
  top: -190px;
  width: 100%;
}

#info_separator {
  height: 200px;
  width: 3px;
  margin-right: 6px;
  background-color: #eee;
  float: left;
}

#info_cells {
  vertical-align: top;
  font-weight: bold;
  width: 260px;
  padding-top: 20px;
  padding-left: 10px;
}

#info_cells ul {
  padding-left: 8px;
  list-style-type: none;
  margin-top: 6px;
  color: #658f9b;
}

#contact {
  margin-left: 12px;
  font-size: .98em;
}

.post_fragment {
  margin-left: 20px;
  margin-bottom: 10px;
}

.post_fragment em {
  position: relative;
  display: block;
  text-align: right;
  margin-right: 6px;
  font-size: .8em;
  border-top: 1px solid #eee;
}

.post_fragment_content {
  margin-bottom: 20px;
}

#post {
  margin-left: 20px;
  margin-right: 10px;
}

.highlight pre {
  display:none;
}

.highlight pre .highlight pre {
  background:#EEEEEE none repeat scroll 0 0;
  border:1px solid #CCCCCC;
  padding:15px;
  display: block !important;
}
