---

---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Brent W" />

   <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>
<body>
  <div id="wrapper">
    
    <div id="title">
      <div id="text_title" style="float: left;">
        <div>
          <a href="/"><h1>Code Quarry<span><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- level 3 rails blog</span></h1></a>
        </div>
      </div>
      <a href="http://brentw.github.com/atom.xml">
        <img src="http://brentw.github.com/images/rss.png" style="margin: 6px; float: right;">
      </a>
    </div>
    <div id="height_wrapper">
      <div id="height_buffer">
      </div>    

      <table id="content_wrapper">
        <tr>
          <td id="content_cell">
            {{ content }}
          <td>
          <td id="info_cells">
            Brent Wooden

            <ul id="contact">
              <li>
                <a href="mailto:brent.wooden@gmail.com">brent.wooden@gmail.com</a>
              </li>
              <li>
                <a href="http://twitter.com/mogis">twitter.com/mogis</a>
              </li>
              <li>
                <a href="http://www.workingwithrails.com/person/14703-brent-wooden">working with rails</a>
              </li>
              <li>
                <a href="http://www.linkedin.com/in/brentwooden">linkedin</a>
              </li>
              <li><br />
                Bloomington, Indiana
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <div class="clear"></div>
    </div>
  </div>
</div>
</body>
</html>

