---
  blog_name: Rails Code Quarry
---
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title> {{ page.blog_name }} - {{ page.title }}</title>
     <meta name="author" content="Brent W" />
     <meta name="description" content="{{ page.description }}" />
     <link rel="icon" type="image/png" href="/images/cq.png" />
     <link rel="stylesheet" href="/css/style.css" type="text/css" />
     <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
     <link rel="alternate" type="application/atom+xml" title="rails code quarry feed" href="http://feeds.feedburner.com/RailsCodeQuarry" /> 
     <meta name="verify-v1" content="6/pPE936wWS3mPQSRrOel8BM65kJbdmCrQ7VdUJOtd0=" >
  </head>
  <body>
  
    <a id="brentw_github_link" alt="brentw on github" href="http://github.com/brentw">
      <img alt="fork me on github" src="/images/fork-me-on-github.png" />
    </a>

    <div id="outside_wrapper">
      <div id="inside_wrapper">      
          <div id="width_buffer">
          </div>

        <div id="title">
          <div id="text_title">
            <div>
              <a href="/"><h1>Code Quarry<span><br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- level 3 rails blog</span></h1></a>
            </div>
          </div>
          <a href="http://feeds.feedburner.com/RailsCodeQuarry">
            <img id="rss_logo" src="http://brentw.github.com/images/rss.png">
          </a>
          <div class="clear"></div>
        </div>
        <div id="title_drop_shadow">
        </div>
        <div id="height_wrapper">
          <div id="height_buffer">
          </div>    

          <table id="content_wrapper">
            <colgroup>
              <col />
              <col style="width: 260px;" />
            </colgroup>              
            <tr>
              <td id="content_cell">
                {{ content }}
              </td>
              <td id="info_cells">
                <div id="info_separator">
                </div>
                Brent Wooden

                <ul id="contact">
                  <li>
                    <a href="mailto:brent.wooden@gmail.com">brent.wooden@gmail.com</a>
                  </li>
                  <li>
                    <a href="http://twitter.com/mogis">twitter.com/mogis</a>
                    <br /><br />
                  </li>
                  <li>
                    <a href="http://www.workingwithrails.com/person/14703-brent-wooden">Working with Rails</a>
                  </li>
                  <li>
                    <a href="http://www.linkedin.com/in/brentwooden">LinkedIn</a>
                  </li>
                  <li>
                    <a href="http://github.com/brentw">GitHub</a>
                  </li>
                  <li><br />
                    Bloomington, Indiana
                  </li>
                </ul>
              </td>
            </tr>
          </table>
          
          <div class="clear"></div>
          
        </div>

      </div>
    </div>
    <script type="text/javascript">
      //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
	        query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/railscodequarry/get_num_replies.js' + query + '"></' + 'script>');
      })();
      //]]>
    </script>
    <script type="text/javascript">
       var disqus_developer = 1; 
    </script>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-920393-3");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>

  </body>
</html>

